[Desktop Entry]
Name=OpenArena
Version=1.0
Exec=/root/openarena-0.8.8/openarena.x86_64
Comment=fast-paced 3D first-person shooter
Icon=openarena128
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;
